<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>hh</title>
	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
	<h1 >Welcome to my server</h1>
	<h2>Here are the list of the links:</h2>
	<ul>
		<li>/user/logIn</li>
		<li>/user/register</li>
		<li>/employees</li>
		<li>/employees/(id)</li>
		<li>/logout</li>
		<li>/refresh</li>
	</ul>
	<h2>When logged in, you recieve an access token which is needed to access the employees.</h2>
	<h2>You can get all employees(get), add an employee(post), update an employee(put), delete an employee(delete). Get a specific employee(get)</h2>
</body>
</html>